<%= render "shared/pageheader", name: "Upload A Bank Statement" %>

<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">

  <%= link_to image_tag("upload-illustration.png", width: 280, style: "margin: 0 auto; display: block;") %>

  <p>Upload your file and we will crawl through your PDF and create new transactions according to your spending!</p>
  <p>With <strong>Uni-Fi</strong>, financial tracking doesn't have to be difficult.</p>


  <div class="file-upload">

    <%= form_tag({ controller: "/statement", action: "create" }, method: :post, multipart: true) do %>
      <div>
        <%= label_tag 'wallet', 'What wallet is this spending from?', class: 'form-label' %>
        <br>
        <%= select_tag 'wallet', options_for_select(@wallets.map { |w| [w.name, w.id] }), { prompt: 'Choose a wallet' } %>
      </div>
      <br>
      <div>
        <%= label_tag 'file', 'Choose a bank statement!' %>
        <br>
        <%= file_field_tag :file, accept: 'application/pdf', required: true; %>
      </div>

      <p style="font-size: 14px; color: gray; text-align: center;">PDFs only. 💟 We do not save your files.</p>
      <%= submit_tag 'Upload File', class: "btn-small-primary", style: "width: 100%; margin: auto; margin-top: 16px;"  %>
    <% end %>
  </div>
</div>
