
<%= render "shared/pageheader", name: "Begin Your Uni-Fi Journey Today" %>

<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "form-input" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", class: "form-input" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password", class: "form-input" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn-small-primary", style: "margin-bottom: 15px;" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
