<%= render "shared/pageheader", name: "Your Budgets" %>

<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">


  <div style="margin-top: 15px;">
    <p class="bold">Budgets</p>
  </div>

  <% @budgets.each do |budget| %>

    <% spends = 0  %>
    <% budget.categories.each do |c| %>
      <% spends += c.this_month_balance  %>
    <% end %>

    <a href="/budgets/<%= budget.id %>" method="get">
      <div style="margin-bottom: 15px;">
<<<<<<< HEAD
        <%= render "shared/categorytab", name: budget.name, balance: number_to_currency(budget.amount), icon: "fa-solid fa-square-check fa-lg" %>
=======
        <%= render "shared/categorytab", name: budget.name, balance: "#{number_to_currency(spends)}/#{number_to_currency(budget.amount)}", icon: "fa-solid fa-wallet fa-lg" %>
>>>>>>> master
      </div>
    </a>
  <% end %>

  <div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); margin-bottom: 20px;">
    <%= link_to "Create New budget", new_budget_path, class: "btn-small-primary" %>
  </div>

</div>
