<p style="color: green"><%= notice %></p>

<h2>Target Budget: <%= number_to_currency(@target_budget) %></h2>
<h2>Current Spending: <%= number_to_currency(@current_spending) %></h2>

<div id="budgets">
  <% @budgets.each do |budget| %>
    <%= render budget %>
    <p>
      <%= link_to "Show this budget", budget %>
    </p>
  <% end %>
</div>

<%= link_to "New budget", new_budget_path %>
