<div class="transaction-tab">
  <div class="transaction-icon">
    <i class="<%= icon %>"></i>
  </div>
  <div class="transaction-tab-mid">
    <p class="transaction-tab-mid-top"><%= from %></p>
    <p class="transaction-tab-mid-btm"><%= date %></p>
  </div>
  <div class="transaction-tab-right">
    <p class="transaction-tab-right-top"><%= to %></p>
    <p class="transaction-tab-right-btm"><%= amount %></p>
  </div>
</div>

<!-- icon (icon classes), from, date, to, amount -->
