<%# income transaction card %>

<div class="transaction-tab">
  <div class="transaction-icon">
    <i class="<%= icon %>"></i>
  </div>
  <div class="transaction-tab-mid">
    <p class="transaction-tab-mid-top"><%= from(t) %></p>
    <p class="transaction-tab-mid-btm"><%= date(t) %></p>
  </div>
  <div class="transaction-tab-right">
    <p class="transaction-tab-right-top"><%= to(t) %></p>
    <p class="transaction-tab-right-btm"><%= amount(t) %></p>
  </div>
</div>

<!-- icon (icon classes), from, date, to, amount -->
