<div id="<%= dom_id income %>">
  <p>
    <strong>Name:</strong>
    <%= income.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= income.description %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= income.balance %>
  </p>

  <p>
    <strong>User:</strong>
    <%= income.user_id %>
  </p>

</div>
