
<%= simple_form_for(@wallet) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs" data-controller="wallets">
    <%= f.input :name %>
    <%#= f.input :wallet_type %>
    <%= "Wallet Type"%>
    <%= f.select :wallet_type, options_for_select([["Select One", ""], "Credit", "Debit"]), required: true, input_html: {data: { action: "click->wallets#paymentDueDate" }} %><br>
    <%#= f.input :payment_due_date %>
    <div class="payment_due_date"  data-wallets-target="date" style="display: none">
      <%#= f.label :payment_due_date %>
      <%= f.input :payment_due_date %>
    </div>

    <%= f.input :description %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
