
<%= simple_form_for(@wallet) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs" data-controller="wallets">
    <%= f.input :name %>
    <%#= f.input :wallet_type %>
    <%= f.input :wallet_type,
        collection: ["Credit", "Debit"], prompt: "Select one",
        input_html: { data: { action: "change->wallets#paymentDueDate" }},
        required: true
        %>
    <div class="payment_due_date"  data-wallets-target="date" style="display: none">
      <%#= f.label :payment_due_date %>
      <%= f.input :payment_due_date %>
    </div>

    <%= f.input :description %>
    <%# @wallet.user = current_user %>
    <%#= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
