<div id="<%= dom_id wallet %>">
  <p>
    <strong>Name:</strong>
    <%= wallet.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= wallet.type %>
  </p>

  <p>
    <strong>Payment due date:</strong>
    <%= wallet.payment_due_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= wallet.user_id %>
  </p>

</div>
