<div id="<%= dom_id wallet %>">
  <p>
    <strong>Name:</strong>
    <%= wallet.name %>
  </p>

  <p>
    <strong>Wallet Type:</strong>
    <%= wallet.wallet_type %>
  </p>

  <p>
    <% if wallet.wallet_type == 'Credit' %>
      <strong>Payment due date:</strong>
      <%= wallet.payment_due_date %>
    <% end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= wallet.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= wallet.user_id %>
  </p>

</div>
