<p style="color: green"><%= notice %></p>

<%= render "shared/pageheader", name: "Your Wallets" %>

<!-- this is where content begins -->

<!-- below are the wallet and info tabs that this page should have -->

<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">

  <!-- this is where PARTIALS begins -->

  <%= render "shared/infotab", name: "Your Total Net Worth", balance: number_to_currency(net_worth(current_user)), icon: "fa-solid fa-money-bill fa-lg green-icon", bgcolor: "green" %>

  <%# <div style="margin-bottom: 15px;">
    <%= render "shared/categorytab", name: "Wallet Name", balance: "S$ 500", icon: "fa-solid fa-wallet fa-lg" %>
  <%# </div> %>

  <div id="wallets">
    <% @wallets.each do |wallet| %>
      <a href="/wallets/<%= wallet.id %>" method="get">
      <div style="margin-bottom: 15px;">
          <%= render "shared/categorytab", name: wallet.name, balance: number_to_currency(balance(wallet)), icon: "fa-solid fa-wallet fa-lg" %>
      </div>
      </a>
    <% end %>
  </div>

  <%= link_to "Create New Wallet", new_wallet_path, class: "btn-small-primary" %>
</div>
