<p style="color: green"><%= notice %></p>

<!-- this handles the back button, name of page -->

<%= render "shared/pageheader", name: @wallet.name %>


<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">
  <div class="info-tab green" style="margin-bottom: 20px;">
    <div class="info-icon">
      <i class="fa-solid fa-money-bill fa-lg green-icon"></i>
    </div>
    <div class="info-tab-right">
      <p class="info-tab-right-top"><%= @wallet.wallet_type == "Debit" ? 'Total Balance:' : 'Total Amount Spent:' %></p>
      <p class="info-tab-right-btm"><%= number_to_currency(balance(@wallet)) %></p>
    </div>
  </div>

  <% if @wallet.is_hidden %>
    <%= "This Wallet is DELETED" %>
    <div>
      <%= link_to "Back to wallets", wallets_path %>
    </div>
  <% else %>

    <p class="bold">Transactions</p>
    <div id="transactions">
      <% @transactions.take(3).each do |t| %>

        <div style="margin-bottom: 15px;">
          <a href="/transactions/<%= t.id %>" method="get">
            <%= render "shared/txntab", icon: "fa-solid fa-circle-down fa-lg", t: t %>
          </a>
        </div>
      <% end %>
      <%= link_to "All Transactions", wallet_transactions_path(@wallet), class: "btn-big-normal", style: "margin-bottom: 15px;" %>
      <div>
        <%= link_to "Edit this wallet", edit_wallet_path(@wallet), class: "btn-small-primary", style: "margin-bottom: 15px;" %>
        <%= button_to "Destroy Wallet", @wallet, method: :delete, class: 'btn-small-secondary', style: "margin-bottom: 15px;" %>
      </div>
    </div>
  <% end %>
</div>
