<%= render "shared/pageheader", name: "Log In" %>

<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "form-input" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", class: "form-input" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'btn-small-primary', style: "margin-bottom: 20px;" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
