<div id="<%= dom_id debit %>">
  <p>
    <strong>Name:</strong>
    <%= debit.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= debit.description %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= debit.balance %>
  </p>

  <p>
    <strong>User:</strong>
    <%= debit.user_id %>
  </p>

</div>
