<%= render "shared/pageheader", name: "Categories" %>

<<<<<<< HEAD
  <%= render "shared/pageheader", name: "Categories" %>

  <div class="container mobile d-flex flex-column" style="margin-top: 30px;">
    <p class="bold">Income</p>
    <div id="categories">
      <% @incomes.each do |c| %>
        <a href="/categories/<%= c.id %>" method="get">
          <div style="margin-bottom: 15px;">
            <%= render "shared/categorytab", icon: "fa-solid fa-layer-group fa-lg", name: c.name, balance: number_to_currency(c.total_balance)  %>
          </div>
        </a>
      <% end %>
    </div>

    <p class="bold">Expense</p>
    <% @expenses.each do |c| %>
=======
<div class="container mobile d-flex flex-column" style="margin-top: 30px;">
  <p class="bold">Income</p>
  <div id="categories">
    <% @incomes.each do |c| %>
>>>>>>> master
      <a href="/categories/<%= c.id %>" method="get">
        <div style="margin-bottom: 15px;">
          <%= render "shared/categorytab", icon: "fa-solid fa-layer-group fa-lg", name: c.name, balance: number_to_currency(c.total_balance)  %>
        </div>
      </a>
    <% end %>
  </div>

  <p class="bold">Expense</p>
  <% @expenses.each do |c| %>
    <a href="/categories/<%= c.id %>" method="get">
      <div style="margin-bottom: 15px;">
        <%= render "shared/categorytab", icon: "fa-solid fa-wallet fa-lg", name: c.name, balance: number_to_currency(c.total_balance)  %>
      </div>
    </a>
  <% end %>
  <%= link_to "New category", new_category_path, class:"btn-small-primary", style: "margin-bottom: 16px;" %>
</div>
