<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">
  <p style="color: green"><%= notice %></p>

  <h1>Your Categories</h1>

  <h2>Income</h2>
  <div id="categories">
    <% @incomes.each do |c| %>
      <a href="/categories/<%= c.id %>" method="get">
        <div style="margin-bottom: 15px;">
          <%= render "shared/categorytab", icon: "fa-solid fa-wallet fa-lg", name: c.name, balance: c.balance  %>
        </div>
      </a>
    <% end %>
  </div>

  <h2>Expense</h2>
  <% @expenses.each do |c| %>
    <a href="/categories/<%= c.id %>" method="get">
      <div style="margin-bottom: 15px;">
        <%= render "shared/categorytab", icon: "fa-solid fa-wallet fa-lg", name: c.name, balance: c.balance  %>
      </div>
    </a>
  <% end %>

  <%= link_to "New category", new_category_path, class:"btn-small-primary" %>
</div>
