

<%= render "shared/pageheader", name: @category.name %>


<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">
  <% if @category.category_type == "Income" %>
    <p class="bold">Total Inflow this Month</p>
  <% else %>
    <p class="bold">Total Outflow this Month</p>
  <% end %>

  <%= render "shared/infotab", icon: "fa-solid fa-money-bill fa-lg green-icon", name: @category.name, balance: number_to_currency(@category.total_balance), bgcolor: "green" %>

  <%= render "shared/notestab", name: "Notes", info: @category.description %>

  <% @transactions.each do |t| %>
    <div style="margin-bottom: 15px;">
      <a href="/transactions/<%= t.id %>" method="get">
        <%= render "shared/txntab", icon: "fa-solid fa-circle-down fa-lg", t: t %>
      </a>
    </div>
  <% end %>


  <%= link_to "Edit this category", edit_category_path(@category), class: "btn-small-primary", style: "margin-bottom: 15px;" %>
  <%= link_to "Back to categories", categories_path, class: "btn-small-secondary" %>
</div>
