<p style="color: green"><%= notice %></p>

<%= render "shared/pageheader", name: "All Transactions" %>

<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">

  <div id="transactions">
    <% @transactions.each do |t| %>
      <div style="margin-bottom: 15px;">
        <a href="/transactions/<%= t.id %>" method="get">
          <%= render "shared/txntab", icon: "fa-solid fa-circle-down fa-lg", t: t %>
        </a>
      </div>
    <% end %>
    <!-- icon (icon classes), from, date, to, amount -->
  </div>

  <%= link_to "New transaction", new_transaction_path, class: "btn-small-primary", style: "margin-bottom: 15px;" %>

</div>
