<style>
  .new-transaction-button {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 24px 40px 16px 40px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .txn-search {
    display: flex;
    flex-direction: column;
  }
</style>

<%= render "shared/pageheader", name: "All Transactions" %>

<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">

    <%= form_with url: params[:wallet_id].present? ? wallet_transactions_path(Wallet.find(params[:wallet_id])) : transactions_path,
      method: :get, class: "d-flex flex-column" do
    %>

      <%= text_field_tag :search_keyword,
        params[:search_keyword],
        class: "form-control",
        placeholder: "Search by Key Word",
        style: "margin-bottom: 15px;"
      %>

      <%= label_tag :start_date, "Start Date" %>
      <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control",
        style: "margin-bottom: 15px;"
      %>

      <%= label_tag :end_date, "End Date" %>
      <%= date_field_tag :end_date,
        params[:end_date],
        class: "form-control",
        style: "margin-bottom: 15px;"
      %>

      <%= submit_tag "Search",
        class: "btn-small-primary",
        style: "margin-bottom: 15px;"
      %>
    <% end %>

  <div id="transactions">
    <% if @transactions.empty? %>
      <%= "No Record Found!" %>
    <% else %>
      <% @transactions.each do |t| %>
        <div style="margin-bottom: 15px;">
          <a href="/transactions/<%= t.id %>" method="get">
            <%= render "shared/txntab", icon: "fa-solid fa-circle-down fa-lg", t: t %>
          </a>
        </div>
      <% end %>
    <% end %>
    <!-- icon (icon classes), from, date, to, amount -->
  </div>


  <div class="new-transaction-button">
    <%= link_to "New transaction", new_transaction_path, class: "btn-small-primary", style: "margin-bottom: 15px;" %>
  </div>

</div>
