

<%= render "shared/pageheader", name: "Create A Transaction" %>

<div data-controller="transaction">

  <div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">
    <ul>
      <li>Expense <input type="radio" name="option" id="expense" checked></li>
      <li>Transfer <input type="radio" name="option" id="transfer"></li>
      <li>Income <input type="radio" name="option" id="income"></li>
    </ul>
  </div>



  <div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">

    <%# expense form  %>
    <%= simple_form_for(@transaction, {id: 'expense-form'}) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="expense-form-inputs" id="expenseform">
        <p class="bold">Expense</p>
        <%# as: :hidden hides the input. input_html: hard code the input value %>
        <%= f.input :txn_type, as: :hidden, input_html: { value: "expense" } %>
        <%#  LOWER function to match the category_type value with the downcased value "income". The ? is a placeholder for the actual value which is passed as the second argument to the where method.  %>
        <%= f.association :main_wallet, label: "From", collection: @wallets %>
        <%= f.association :category, label: "To", collection: @expenses %>
        <%= f.input :amount %>
        <%= f.input :date %>
        <%= f.input :description %>

         <div class="form-actions" style="margin-bottom: 15px;">
          <%= f.button :submit, class: "btn-small-primary" %>
        </div>
      </div>
    <% end %>

    <%# transfer form  %>

    <%= simple_form_for(@transaction, {id: 'transfer-form'}) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="transfer-form-inputs d-none" id="transferform">
        <p class="bold">Transfer</p>
        <%# as: :hidden hides the input. input_html: hard code the input value %>
        <%= f.input :txn_type, as: :hidden, input_html: { value: "transfer" } %>
        <%= f.association :main_wallet, label: "From", collection: @wallets%>
        <%= f.association :second_wallet, label: "To", collection: @wallets %>
        <%= f.input :amount %>
        <%= f.input :date %>
        <%= f.input :description %>

        <div class="form-actions" style="margin-bottom: 15px;">
          <%= f.button :submit, class: "btn-small-primary" %>
        </div>
      </div>
    <% end %>


    <%# income form  %>
    <%= simple_form_for(@transaction, html: {id: 'income-form'}) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="income-form-inputs d-none" id="incomeform">
        <p class="bold">Income</p>
        <%# as: :hidden hides the input. input_html: hard code the input value %>
        <%= f.input :txn_type, as: :hidden, input_html: { value: "income" } %>
        <%#  LOWER function to match the category_type value with the downcased value "income". The ? is a placeholder for the actual value which is passed as the second argument to the where method.  %>
        <%= f.association :category, label: "From", collection: @incomes %>
        <%= f.association :main_wallet, label: "To", collection: @wallets %>
        <%= f.input :amount %>
        <%= f.input :date %>
        <%= f.input :description %>

         <div class="form-actions" style="margin-bottom: 15px;">
          <%= f.button :submit, class: "btn-small-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
